{% extends "base.html.twig" %}

{% block title %}{{ t('contact') }}{% endblock %}

{% block content %}
<div class="container">
	<h1>{{ t('contact') }}</h1>
	<p>{{ t('contact.text') }}</p>
</div>
{% endblock %}